
body, html {
    padding: o;
    margin: 0;
    background: #effafa;
    font-family: sans-serif;
    
}

.mr {
    margin-right: 25px;
}
.header-background {
    background: #5ba4a4;
    background-image: url("https://job-listings-with-filtering-04.netlify.app/static/media/bg-header-desktop.8694f466.svg");
    background-size: cover;
    height: 20vh;
    background-position: 50% 50%;
    width: 100%;
}

.container {
    width: 100%;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
  
}


.job-container {
    position: relative;
    background: #ffffff;
    border-radius: .5rem;
    border-left: 5px solid #5ba4a4;
    max-width: 800px;
    padding: 35px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.job-container__item .featured-status{
    display: inline-flex;
    align-items: center;
}

.job-container__item .featured-status h5{
    padding: 0;
    margin: 0;
    color: #5ba4a4;
    font-size: 1.2rem;
    margin-right: 10px;
}

.job-container__item .featured-status span {
    text-transform: uppercase;
    font-weight: 900;
    padding: .5rem;
    font-size: .75rem;
    border-radius: .85rem;
    color: #ffffff;
    margin-right: 5px;
}

.job-container__item .featured-status span:not(:last-child)  {
    background: #5ba4a4;
}

.job-container__item .featured-status span:last-child {
    background: #2c3a3a;
}


.job-container__item .featured-timeline {
    display: inline-flex;
    align-items: center;
    color: #7b8e8e;
}

.job-container__item .featured-timeline p {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

.job-container__item .featured-timeline span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #7b8e8e;
    margin-right: .7rem;
    margin-left: .7rem;
}

.job-container__item.badge-container {
    display: inline-flex;
    flex-wrap: wrap;
    
}

.job-container__item.badge-container .badge {
    background: #eef6f6;
    color: #5ba4a4;
    padding: .5rem;
    border-radius: .3rem;
    margin-right: .5rem;
    font-size: .93rem;
    font-weight: 900;
    cursor: pointer;
    transition: .5s all;
    box-sizing: border-box;
    gap: 1rem;
}

.job-container__item.badge-container .badge:last-child {
    margin-right: 0;
}

.job-container__item.badge-container .badge:hover {
    background: #5ba4a4;
    color: #ffffff;
}

.job-container__mainitem {
    /* display: flex; */
}

.job-container__mainitem {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.second-job-item {

}



@media only screen and (max-width: 896px) {
    .job-container__mainitem {
        display: flex;
        flex-direction: column;
    }

    .second-job-item {
        margin-top: .8rem;
        padding-top: .8rem;
        border-top: 1px solid #a8bdbd;
    }
}

@media (max-width: 560px) {
    .mr {
        position:absolute;
        top: -40px;
        left: 33px;
    }
}